# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# Git
/.git

# MongoDB
/data/db

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
